.App {
  font-size: large;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-columns: 100vw auto;
  grid-template-rows: 100px auto;
  grid-template-areas:
    "nav"
    "contents";
}

.Nav {
  min-width: 300px;
  border-bottom: 1px black solid;
  background-color: red;
  text-align: center;
  grid-area: nav;
  display: inline;
}

.disabledCursor {
  cursor: default;
}

.navHeader {
  padding: 20px;
  text-decoration: underline;
  margin: 0px;
  text-align: center;
}

.navContents {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 16px;
}

.reviewCard {
  border: 3px red dotted;
}

.commentCard {
  border: 3px green double;
}

.commentCard p {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

.categoriesList {
  background-color: aquamarine;
  margin: 0px;
  grid-area: contents;
}

.categoriesHeader {
  color: black;
  text-decoration: underline;
  text-transform: uppercase;
  margin: 0px;
  padding: 20px;
}

.categoryCard {
  text-align: left;
  margin-left: 10px;
}

.categoryCard h2 {
  text-decoration: underline solid;
  text-transform: capitalize;
  margin: 0px;
}

ul {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}

.reviewById {
  grid-area: contents;
  background-color: aquamarine;
}

.reviewById p {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

.reviewById img {
  width: 50vw;
  height: auto;
  max-width: 500px;
  max-height: auto;
}

.reviewspage {
  grid-area: contents;
  background-color: aquamarine;
}

.commentsPage {
  grid-area: contents;
  background-color: aquamarine;
}

.query {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 10px;
}

.reviewCard {
  margin-top: 20px;
  padding: 0px 0px 15px 0px;
}

.errorMessage {
  background-color: aquamarine;
  grid-area: contents;
}
