.App {
  text-align: center;
  display: grid;
  grid-template-columns: 50vw auto;
  grid-template-rows: 12vh auto;
  grid-template-areas:
    "nav nav"
    "contents contents";
}

.Nav {
  border-bottom: 1px black solid;
  background-color: red;
  grid-area: nav;
}

.Nav > * {
  margin: 0px;
}

.Nav > h2 {
  padding: 20px;
  text-decoration: underline;
}

.Nav > Link {
  padding: 20px;
}

.reviewCard {
  border: 3px red dotted;
}

.commentCard {
  border: 3px green double;
}

.categoriesList {
  background-color: aquamarine;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  grid-area: contents;
}

.categoriesHeader {
  color: black;
  text-decoration: underline;
  text-transform: uppercase;
  margin: 0px;
  padding: 20px;
}

.categoryCard {
  text-align: left;
  flex: auto;
}

.categoryCard h2 {
  text-decoration: underline solid;
  text-transform: capitalize;
  margin: 0px;
}

ul {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}

.reviewById {
  grid-area: contents;
  background-color: aquamarine;
}

.reviewById img {
  max-width: 100%;
  max-height: auto;
}

.reviewspage {
  grid-area: contents;
  background-color: aquamarine;
}

.commentsPage {
  grid-area: contents;
  background-color: aquamarine;
}

.query {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 10px;
}
